<div class="row">
  <div class="col-6 offset-3">
    <% if(success.length) {%>
    <div class="alert alert-success alert-dismissible show fade" role="alert">
      <strong><%= success %> </strong>

      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %> <% if(error.length) {%>
    <div class="alert alert-danger alert-dismissible show fade" role="alert">
      <strong><%= error %> </strong>

      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %>
  </div>
</div>
