<% layout('layouts/boilerplate') %>

<div class="card">
  <div class="id-containeer p-3 bg-success bg-opacity-25">
    <h3 class="">
      Weclome to the website!! Here you can create a campground and add reviews
      to it. You are also able to edit the campground you created and delete it.
      <br />
      <hr />
      Login to do so!!!
      <br />
      OR JUST EXPLORE WITHOUT LOGIN
      <br />

      <hr />
      Feel free to add any places that you want people to explore.
    </h3>
  </div>
  Have fun!!
</div>
